@tailwind base;
@tailwind components;
@tailwind utilities;

.analog-stopwatch .clock {
  width: 100%;
  height: 100%;
}

.analog-stopwatch .hand {
  top: 50%;
  left: 50%;
  transform-origin: center bottom;
}

.analog-stopwatch .second-hand {
  width: 1px;
  height: 50%;
  background-color: #f00;
}

.analog-stopwatch .minute-hand {
  width: 2px;
  height: 45%;
  background-color: #000;
}

.analog-stopwatch .hour-hand {
  width: 3px;
  height: 40%;
  background-color: #000;
}

.analog-stopwatch .center {
  width: 10px;
  height: 10px;
  background-color: #000;
}
